.questions-container {
  .ant-table {
    .ant-table-thead {
      .ant-table-cell {
        padding: 18px;
      }
    }

    tr:nth-child(even) {
      background: #f3f6ff;
    }

    tr:nth-child(odd) {
      background: white;
    }
  }
}

.question-details {
  .Pane {
    overflow: auto;
    .monaco-editor {
      border-top: 1px solid #dfe0eb;
      .margin-view-overlays {
        border-right: 1px solid #dfe0eb;
      }
      .decorationsOverviewRuler {
        display: none !important;
      }
    }
  }
}
