.admin-layout {
  overflow: auto;
  height: 100vh;
  .content-box{
    overflow: auto;
    scrollbar-width: 0;
    height: max-content;
  }
  .ant-layout-sider {
    border-right: 1px solid #e8e8e8 !important;
    overflow: auto;
    .ant-menu {
      background: #fff !important;
      border-inline-end: none;
      .ant-menu-item {
        padding: 0 20px;
        width: 80%;
        margin: 10px auto;
        font-weight: 400;
        color: #53545c;
      }
      .ant-menu-item-selected {
        background: #3e53d7;
        color: #fff;
      }
    }
  }
  .ant-layout-sider-collapsed {
    .logo {
      display: none;
    }
  }

}
