/* Tailwind's default imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
/* Custom Styles */
body {
  background: #ebf2ff;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0 !important;
}

@layer utilities {
  .text-balance {
    text-align: justify;
    hyphens: auto;
  }
}

.db-row .ant-table-cell {
  vertical-align: sub;
}
:where(.css-dev-only-do-not-override-apn68).ant-carousel .slick-prev,
:where(.css-dev-only-do-not-override-apn68).ant-carousel .slick-next {
  color: black;
}

.ant-btn:hover {
  background-color: white !important;
  border: 1px solid #3e53d7 !important;
  color: #3e53d7 !important;
}
:where(.css-dev-only-do-not-override-apn68).ant-table-wrapper
  .ant-table-thead
  > tr
  > th {
  background-color: #677af5;
  color: white;
}
:where(.css-apn68).ant-carousel .slick-next {
  color: black;
}
:where(.css-apn68).ant-carousel .slick-prev {
  color: black;
}
:where(.css-apn68).ant-table-wrapper .ant-table-thead > tr > th,
:where(.css-apn68).ant-table-wrapper .ant-table-thead > tr > td {
  background-color: #677af5;
  color: white;
}
:where(.css-dev-only-do-not-override-apn68).ant-otp .ant-otp-input {
  height: 50px;
}

:where(.css-dev-only-do-not-override-apn68).ant-card .ant-card-body {
  padding: 0px;
}

:where(.css-dev-only-do-not-override-apn68).ant-collapse
  .ant-collapse-content
  > .ant-collapse-content-box {
  padding: 0px;
}
:where(.css-dev-only-do-not-override-apn68).ant-upload-wrapper
  .ant-upload-drag
  .ant-upload-btn {
  background-color: white;
}
:where(.css-apn68).ant-upload-wrapper .ant-upload-drag .ant-upload-btn {
  background-color: white;
}

:where(
    .css-dev-only-do-not-override-apn68
  ).ant-input-outlined.ant-input-status-error:not(.ant-input-disabled) {
  border-color: #d9d9d9;
}
:where(.css-apn68).ant-input-outlined.ant-input-status-error:not(
    .ant-input-disabled
  ) {
  border-color: #d9d9d9;
}
:where(
    .css-dev-only-do-not-override-apn68
  ).ant-select-outlined.ant-select-status-error:not(.ant-select-customize-input)
  .ant-select-selector {
  border: 1px solid #d9d9d9;
}
:where(.css-apn68).ant-select-outlined.ant-select-status-error:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  border: 1px solid #d9d9d9;
}
